.searchMain {
    max-width: 750px;
    margin: 0;
    padding: 0;
}

.inputMain {
    height: 44px;
    border: 1px solid #00000075;
}

.borderColor {
    border-top: 1px solid #00000033;
    border-bottom: 1px solid #00000009;
}

.itemBorderColor {
    border-color: #EDEDED !important;
    cursor: pointer;
    position: relative;
}

.ownNavLink {
    margin: 0 !important;
    font-size: 15px !important;
    font-weight: 300;
}

.ownNavItem {
    width: calc(50% - 5px);
}

.ownPiskel {
    font-size: 11px;
    font-weight: 500;
    color: #949494;
    margin: 0 0 4px 0;
    line-height: 1.33;

}

.ownPiskel span {
    color: #000;
}

.ownAuthNav {
    display: flex;
    justify-content: center;
    padding: 30px !important;
    border-bottom: 1px solid #00000025;
}

.sidebar {
    background-color: #EFEFEF;
}

.ownProfileLink {
    margin-right: 0 !important;
}

.ownProfileLink {
    font-weight: 300;
}

.ownProfileLink:hover {
    transform: translateX(5px);
    margin-left: 10px;
}

.col-lg-3.sidebar {
    padding: 0 20px 0 20px !important;
}

.ownNavbarToggle {
    display: none;
}

.price {
    position: absolute;
    bottom: 20px;
}

.ownDropdown {
    display: flex;
    padding: 0 !important;
}

.ownDropItem {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.ownDropItem:hover {
    background-color: #d8d8d8;
}

.ownDropItem .dropdown-item {
    display: flex;
    align-items: center;
}

.ownDropGroup {
    display: flex;
    flex-direction: column;
}

.ownDropGroup span {
    font-size: 12px;
    line-height: initial;
}

@media (max-width: 991px) {
    .ownNavbarToggle {
        display: block;
    }
}

@media (max-width: 1399px) {
    .searchMain {
        max-width: 600px;
        padding: 0 10px 0 10px !important;
    }
}

@media (max-width: 1199px) {
    .searchMain {
        max-width: 500px;
    }
}

@media (max-width: 991px) {
    .ownNavbar {
        display: none;
    }
}

.ownFormPhone {
    display: none;
}
.ownspecificationsPhone {
    display: none;
}
@media (max-width: 991px) {
    .ownDropdown {
        display: flex;
        flex-direction: column;
}
}
@media (max-width: 767px) {
    .ownFormPhone {
        display: block;
    }
    .ownFormDesktop {
        display: none;
    }
    .ownPostHDesktop {
        display: none;
    }
    .ownspecificationsPhone {
        display: block;
    }
    .ownspecificationsDesktop {
        display: none;
    }
    .ownFooter {
        display: flex;
        flex-direction: column !important;
    }
    .ownFooterMain {
        align-items: start !important;
    }
    .ownPhoneStyle {
        margin: 0;
    }
}

.ownShop2Card {
    width: 190px;
    height: 250px;
}